<h1>patron lists</h1>

<% for list in @lists %>
  <ul>
    <li><%= link_to_name list %>:<%= link_to(pluralize(list.listings.count, 'patron'), list_users_path(list)) %> authorized at <%= link_to(pluralize(list.authorizations.count, 'restaurant'), list_authorizations_path(list)) %></li>
  </ul>
<% end %>

<br />

<%= link_to 'new list', new_list_path %>
