<h1>new list</h1>

<% form_for(@list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'list name' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "create" %>
  </p>
<% end %>

