<h1>listings</h1>

<table>

<% for listing in @listings %>
  <tr>
    <td><%= link_to_name listing.user %></td>
    <td><%= link_to_name listing.list %></td>
    <td><%= link_to 'show', listing %></td>
  </tr>
<% end %>
</table>

<%= link_to 'new listing', new_listing_path %>
