#center {
	font-family: arial;
}

#center a {
	color: #603517;
	text-decoration: none;
}

#center a:hover {
	text-decoration: underline;
}

#center form {
	font-family: arial;
	border: 2px solid black;
	padding: 30px;
	width: 450px;
	margin-left: 90px;
}

#title {
	font-family: arial;
	font-style: italic;
	font-size: 4em;
	text-align: center;
}

#definition {
	font-size: 1.4em;
	margin-left: 13%;
}

#definition_second_line {
	margin-left: 7%;
}

#about_page {
	background-color: #87BFED;
}

#about {
	font-size: 1.25em;
	margin: 20px;
}

#about em {
	background-color: #FBF9D9;
}

#about strong {
	font-size: 1.19em;
	font-family: arial;
	color: #20077A;
}

#about p {
	background-color: #D09345;
	margin-left: 20px;
	padding: 5px;
	padding-left: 20px;
}

#graphics {
	margin: 9%;
}

#graphics div {
	
}

#put_leftovers {
	font-size: 1.9em;
	font-family: comic sans ms;
	float:left;
	width: 29%;
	margin-right: 3%;
	border: 2px solid white;
	height: 180px;
}

#get_box {
	font-size: 1.9em;
	font-family: comic sans ms;
	float:left;
	width: 29%;
	margin-right: 3%;
	border: 2px solid white;
	height: 180px;
}

#recycle_box {
	font-size: 1.9em;
	float: left;
	width: 29%;
	font-family: comic sans ms;
    border: 2px solid white;
	height: 180px;
}

.step {
	font-size: .5em;
	text-align: center;
	margin-left: 10px;
}

#about li {
	padding-bottom: 13px;
}
.nav {
	list-style-type:none;
	float:left;
	font-size: 1.15em;
	padding-left: 2px;
	padding-right: 2px;
	font-variant: small-caps;
}
.nav a {
	color: #583C94;
}

.nav a:visited {
	color: #0A990F;
}

.clearfix {
	clear:both;
}

.login {
	float:right;
}

.login a {
	padding-left: 4px;
}