<h1>patrons</h1>

<table>

<% for user in @users %>
  <tr>
    <td><%= link_to_name user %></td>
    <td><%= mail_to user.email, user.email, :encode => :javascript %></td>
    <td><%=h user.city %></td>
    <td><%=h user.state %></td>
  </tr>
<% end %>
</table>

