<h1>these patrons have been asked not to visit these establishments</h1>

<table>
  <tr>
    <th>patron</th>
    <th>establishment</th>
  </tr>

<% for ban in @bans %>
  <tr>
    <td><%= link_to_name ban.user %></td>
    <td><%= link_to_name ban.restaurant %></td>
    <td><%= link_to 'show', ban %></td>
  </tr>
<% end %>
</table>

<%= link_to 'issue ban', new_ban_path %>
