<h1>authorizations</h1>

<table>
  <tr>
    <th>List</th>
    <th>Restaurant</th>
  </tr>

<% for authorization in @authorizations %>
  <tr>
    <td><%= link_to_name authorization.list %></td>
    <td><%= link_to_name authorization.restaurant %></td>
    <td><%= link_to 'Show', authorization %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New authorization', new_authorization_path %>
